@media screen and (min-width: 900mm) {
  article {
    padding-top: 1rem 3rem;
  }
}
body{
    background-color: cyan;
}
summary{
    text-decoration-color: darkgrey;
    height: 1vw;
    width: 12em
}
h2{
    margin: left;
    max-width: 2in;
    min-width: 15px;
}
b{
    color: darkred;
    padding: top;
}
section{
    position: static;
}
span{
    color: #f3c2f4;
    color: hsl(12,33,25);
    position: fixed;
}
